In [1]:
import pandas as pd
df = pd.read_csv("/content/weatherHistory.csv")
df[:5]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [2]:
def map_categorical_to_numerical(categorical_data):
    unique_categories = set(categorical_data)
    mapping = {category: i for i, category in enumerate(unique_categories)}
    return mapping

In [3]:
def string_to_number(string):
  return round(float(string),2)

In [4]:
summary_numerical = map_categorical_to_numerical(df["Summary"])
precip_type_numerical = map_categorical_to_numerical(df["Precip Type"])

In [5]:
import numpy as np

new_summary = np.array([])
for summary in df["Summary"]:
  new_summary = np.append(new_summary,summary_numerical[summary])

new_summary[:10]

array([15., 15.,  8., 15.,  8., 15., 15., 15., 15., 15.])

In [6]:
df = df.drop('Summary', axis=1)
df["Summary"] = new_summary
df[:5]

,Formatted Date,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Summary
0,2006-04-01 00:00:00.000 +0200,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,15.0
1,2006-04-01 01:00:00.000 +0200,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,15.0
2,2006-04-01 02:00:00.000 +0200,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,8.0
3,2006-04-01 03:00:00.000 +0200,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,15.0
4,2006-04-01 04:00:00.000 +0200,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,8.0

In [7]:
new_precip = np.array([])
for precip in df["Precip Type"]:
  new_precip = np.append(new_precip,precip_type_numerical[precip])

new_precip[:10]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [8]:
df = df.drop('Precip Type', axis=1)
df = df.drop('Daily Summary', axis=1) 
df["Precip Type"] = new_precip
df[:5]

,Formatted Date,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Summary,Precip Type
0,2006-04-01 00:00:00.000 +0200,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,15.0,1.0
1,2006-04-01 01:00:00.000 +0200,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,15.0,1.0
2,2006-04-01 02:00:00.000 +0200,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,8.0,1.0
3,2006-04-01 03:00:00.000 +0200,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,15.0,1.0
4,2006-04-01 04:00:00.000 +0200,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,8.0,1.0

In [9]:
from datetime import datetime
date_format = "%Y-%m-%d %H:%M:%S.%f %z"
new_times = np.array([])

for time in df["Formatted Date"]:
  new_times = np.append(new_times,datetime.strptime(time, date_format))

new_times[:5]

array([datetime.datetime(2006, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
       datetime.datetime(2006, 4, 1, 1, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
       datetime.datetime(2006, 4, 1, 2, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
       datetime.datetime(2006, 4, 1, 3, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))),
       datetime.datetime(2006, 4, 1, 4, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200)))],
      dtype=object)

In [10]:
df = df.drop('Formatted Date', axis=1)
df["Formatted Date"] = new_times
df = df.dropna().drop("Formatted Date", axis=1).astype(np.float32)
df[:5]

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Summary,Precip Type
0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.130005,15.0,1.0
1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.630005,15.0,1.0
2,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.940002,8.0,1.0
3,8.288889,5.944445,0.83,14.1036,269.0,15.8263,0.0,1016.409973,15.0,1.0
4,8.755555,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.510010,8.0,1.0

In [11]:
full_labels = df["Apparent Temperature (C)"]
full_vals = df.drop("Apparent Temperature (C)", axis=1)
full_labels[:3], full_vals[:3]

(0    7.388889
 1    7.227778
 2    9.377778
 Name: Apparent Temperature (C), dtype: float32,
    Temperature (C)  Humidity  Wind Speed (km/h)  Wind Bearing (degrees)  \
 0         9.472222      0.89            14.1197                   251.0
 1         9.355556      0.86            14.2646                   259.0
 2         9.377778      0.89             3.9284                   204.0

    Visibility (km)  Loud Cover  Pressure (millibars)  Summary  Precip Type
 0          15.8263         0.0           1015.130005     15.0          1.0
 1          15.8263         0.0           1015.630005     15.0          1.0
 2          14.9569         0.0           1015.940002      8.0          1.0  )

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(full_vals, full_labels, 
                                                    test_size=0.2, random_state=42)
X_train[:3],X_test[:3]

(       Temperature (C)  Humidity  Wind Speed (km/h)  Wind Bearing (degrees)  \
 43345        15.438889      0.96          10.867500                     0.0
 66832         6.027778      0.67          33.504101                   302.0
 92142        18.238890      0.97           5.731600                   262.0

        Visibility (km)  Loud Cover  Pressure (millibars)  Summary  Precip Type
 43345           5.1359         0.0           1014.969971     23.0          1.0
 66832          11.3988         0.0           1010.070007     24.0          1.0
 92142          14.6832         0.0           1010.239990      8.0          1.0  ,
        Temperature (C)  Humidity  Wind Speed (km/h)  Wind Bearing (degrees)  \
 87206        28.122223      0.53            13.3469                   304.0
 33421        10.000000      0.83            14.4900                   150.0
 6807         14.400000      0.65            11.0446                   144.0

        Visibility (km)  Loud Cover  Pressure (millibars)  Summary  Precip Type
 87206          15.5526         0.0           1014.030029      8.0          1.0
 33421           9.9820         0.0           1017.900024      8.0          1.0
 6807            9.6278         0.0           1022.000000      8.0          1.0  )

In [14]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128),
    tf.keras.layers.Dense(64),
    tf.keras.layers.Dense(1)
])

model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.Adam(),
              metrics = ["mae"])

model.fit(X_train,y_train,
          epochs=20,
          verbose=1)

Epoch 1/20
2412/2412 [==============================] - 10s 4ms/step - loss: 8.3896 - mae: 8.3896
Epoch 2/20
2412/2412 [==============================] - 8s 3ms/step - loss: 3.6450 - mae: 3.6450
Epoch 3/20
2412/2412 [==============================] - 8s 3ms/step - loss: 2.0064 - mae: 2.0064
Epoch 4/20
2412/2412 [==============================] - 7s 3ms/step - loss: 1.6017 - mae: 1.6017
Epoch 5/20
2412/2412 [==============================] - 7s 3ms/step - loss: 1.3213 - mae: 1.3213
Epoch 6/20
2412/2412 [==============================] - 8s 3ms/step - loss: 1.1990 - mae: 1.1990
Epoch 7/20
2412/2412 [==============================] - 6s 3ms/step - loss: 1.1029 - mae: 1.1029
Epoch 8/20
2412/2412 [==============================] - 6s 3ms/step - loss: 1.0458 - mae: 1.0458
Epoch 9/20
2412/2412 [==============================] - 6s 2ms/step - loss: 0.9820 - mae: 0.9820
Epoch 10/20
2412/2412 [==============================] - 6s 3ms/step - loss: 0.9825 - mae: 0.9825
Epoch 11/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.9421 - mae: 0.9421
Epoch 12/20
2412/2412 [==============================] - 6s 3ms/step - loss: 0.9205 - mae: 0.9205
Epoch 13/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.9109 - mae: 0.9109
Epoch 14/20
2412/2412 [==============================] - 6s 3ms/step - loss: 0.9057 - mae: 0.9057
Epoch 15/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.8917 - mae: 0.8917
Epoch 16/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.8942 - mae: 0.8942
Epoch 17/20
2412/2412 [==============================] - 6s 2ms/step - loss: 0.8895 - mae: 0.8895
Epoch 18/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.8867 - mae: 0.8867
Epoch 19/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.8892 - mae: 0.8892
Epoch 20/20
2412/2412 [==============================] - 5s 2ms/step - loss: 0.8814 - mae: 0.8814

In [15]:
model.evaluate(X_test,y_test)

603/603 [==============================] - 3s 4ms/step - loss: 0.8284 - mae: 0.8284

[0.8284268379211426, 0.8284268379211426]